[2016-12-04 14:15] notatestuser opened #2 "Probably doesn't work as expected on some Windows machines"
node-copy-paste uses the same method of execing `clip` on Windows but I had some trouble with Unicode characters on systems running ASCII-only code pages (for instance, those configured with en-US locales).

I've addressed this in my [fork of node-copy-paste](https://github.com/notatestuser/node-copy-paste/tree/master/platform/fallbacks) by setting the code page to `65001` before running `clip.exe

[2016-12-04 14:50] sindresorhus commented on #2
Tests are passing on Windows. Happy to look more into this if you submit a [failing test](https://github.com/avajs/ava#failing-tests) :)

https://github.com/sindresorhus/clipboardy/blob/0a097ac37fcaa504c53278c9bb80c98428cb6c4f/test.js#L20-L33

https://ci.appveyor.com/project/sindresorhus/clipboardy/branch/master

[2016-12-04 14:50] #2 closed

[2016-12-04 15:19] misterhat opened #3 "Fallback to xclip"
On GNU+Linux, there are two common programs for clipboard access. `xsel` is already implemented, but `xclip` could be as well. If ran without any flags, it accepts stdin and writes it to the clipboard buffer. If passed in `-o`, it outputs the clipboard buffer to stdout.

https://qa.debian.org/popcon.php?package=xclip
https://qa.debian.org/popcon.php?package=xsel

They have almost the same amount o

[2016-12-05 09:47] notatestuser commented on #2
There's no need: the existing tests fail themselves on my Windows 10 (build 10240) machine with a default code page of 437. I've been trying to reproduce this in Appveyor without much luck.

[2016-12-06 09:11] sindresorhus commented on #3
Yes, I intended to open an issue about this actually. I had problems getting `xclip` to work when spawned. It stalled forever until I copied something while it was running. Happy to take a pull request for this though.

[2016-12-06 14:31] s-a opened #4 "Can we get complex clipboard data?"
Hi @sindresorhus,

are we able to get informations wether the user copied some files from filemanager to clipbard and/or set it vice versa? I m looking for such a functionaltity for an electron driven filemanager application.

[2016-12-06 14:41] sindresorhus commented on #4
No, sorry. This is focused on text only.

[2016-12-06 14:41] #4 closed

[2016-12-06 15:52] misterhat commented on #3
@sindresorhus Yeah I absolutely intended to implement this! I've just been a bit busy. About the "just working", `xclip` is an incredibly tiny program and we could make an optional pre-built dependency for it if you wanted.

[2016-12-06 16:17] sindresorhus commented on #3
@misterhat That would be awesome :)

[2017-02-20 09:01] Kreozot opened #5 "Updating execa dependency"
How about updating execa to 0.6.0? Is there any cons with this?

[2017-02-20 09:34] #5 closed

[2017-02-20 09:34] sindresorhus commented on #5
No cons, but no benefits either. I'll do a new release when #3 is fixed.

[2017-02-20 09:35] sindresorhus commented on #3
@misterhat Still interested? No worries if not.

[2017-02-20 10:45] Kreozot commented on #5
Thanks!
The benefits is reducing dependencies count (because of changes in execa 0.6.0).

[2017-03-13 07:40] #3 closed

[2017-03-19 20:57] jamespatrickwhite opened #8 "Attempting read on Windows 10 throws error due to vbs path issue"
Attempting to test the following script on Windows 10:
`const clipboardy = require('clipboardy');`
`console.log('clipboard test: ',clipboardy.readSync());`

Causes an error to be thrown on node_modules\execa\index.js:275
`throw (result.error || new Error(result.stderr === '' ? result.stdout : result.stderr));`
`Error: Input Error: Can not find script file "C:\test\clipboard\fallbacks\win-read.vbs"

[2017-03-20 02:53] #8 closed

[2017-03-21 14:25] Rudloff opened #9 "Android support"
Hello,

I am using Nodejs on [Termux](https://termux.com/), a CLI environment for Android.
Currently clipboardy does not work because I don't have xsel. (And I can't build xsel because X11 is not available in Termux.)
However, Termux provides `termux-clipboard-get` and `termux-clipboard-set` commands which use Android's clipboard API.

Do you think it would possible to add support for these comman

[2017-03-21 14:35] floatdrop commented on #9
@Rudolf can we detect it by `process.platform`?

[2017-03-21 15:07] Rudloff commented on #9
You can detect Android (`process.platform == 'android'`) but you can't be sure that Termux is installed.

[2017-03-21 15:20] SamVerschueren commented on #9
So there is no standard way of manipulating the clipboard? The `termux` thing is preinstalled on some type of devices or how does that thing work?

[2017-03-21 15:32] Rudloff commented on #9
There no way to manipulate the Android clipboard from CLI without installing some third-party app.
Termux is an app that you install (from Play Store or F-Droid). It is one the most popular Android CLI environments but it is not the only one.

[2017-03-21 15:37] SamVerschueren commented on #9
Not sure if @sindresorhus is interested to support this in Android. But if there is a flag in `process.env` or something that could give us an indication of the terminal type, this should be perfectly possible. If the terminal is not Termux we could just throw an error.

[2017-03-21 15:51] Rudloff commented on #9
You can probably check `process.env.PREFIX == '/data/data/com.termux/files/usr'`.

[2017-04-01 07:09] sindresorhus commented on #9
@Rudloff I'm open to it if you can commit to maintain this part of the code. What does `process.env.TERM_PROGRAM` give you?

[2017-04-01 09:59] Rudloff commented on #9
Unfortunately, `process.env.TERM_PROGRAM` is undefined.
Yes, I can maintain it as I will use it myself.
I will submit a PR for this.

[2017-04-03 07:33] #9 closed

[2017-04-14 03:42] xconverge opened #11 "UTF-8 issues on Windows 10"
This is related to #2, I think his fix will most likely work, I also followed this issue on the other popular copy paste library.

Run the following test:

test.only('works with unicode', async t => {
	const f = '你好';
	t.is(await writeRead(f), f);
});

Now open any other program, notepad etc, and do Edit-Copy or Ctrl+V and you will get Σ╜áσÑ╜.

This is going to be difficult to write a test for sin

[2017-04-21 04:24] xconverge commented on #11
@sindresorhus @notatestuser any thoughts here?

[2017-04-24 03:37] #11 closed

[2017-05-12 14:10] floatdrop opened #15 "Default LC_TYPE"
https://github.com/Microsoft/vscode/issues/26502#issuecomment-301043547

Should we set `UTF-8` as default encoding, if no specified?

[2017-05-12 14:29] sindresorhus commented on #15
We should set it regardless.

[2017-05-13 09:47] #15 closed

[2017-05-13 12:24] SebastianZaha opened #17 "EOL handling"
Hello, I am using this module in a VSCode plugin, and noticed that on windows, when copying and pasting EOL characters the behavior is that they are sometimes stripped. The text should be pasted verbatim, right?

I added a test that fails to explain what I mean: https://github.com/SebastianZaha/clipboardy/commit/481c9b409bbf6445e05e2e0b91f125f003d148f4

[2017-05-13 13:26] sindresorhus commented on #17
Yes

Would you mind submitting it as a [failing test](https://github.com/avajs/ava#failing-tests)?

[2017-05-26 18:34] kyleboyle opened #22 "add execa option stripEof: false for paste (if clipboard ends with newline, it gets removed)"
teststring = "somestring\n"
clipboardy.writeSync(teststring)
teststring != clipboardy.readSync()

execa will strip of trailing new line of stdout, mangling paste operation (on macos `pbpaste`)
![screen shot 2017-05-26 at 3 31 47 pm](https://cloud.githubusercontent.com/assets/6877108/26507901/d4272504-4228-11e7-87ef-643f792258f7.png)

https://github.com/sindresorhus/execa/blob/master/index.js#L34

[2017-06-08 00:26] xconverge opened #24 "Can't copy more than 32660 characters"
Having a problem on windows working with more than 32660 characters and this library.

I believe this is the issue:
https://stackoverflow.com/questions/3205027/maximum-length-of-command-line-string/28452546#28452546

Perhaps clipboardy needs to break it up into chunks before processing the data

Related where this was seen including a file of text with this many characters:
https://github.com/VSCo

[2017-06-08 06:46] SamVerschueren commented on #24
The first question that comes up is, why would you actually want to copy so many characters? Care to elaborate on the use case?

[2017-06-08 15:47] xconverge commented on #24
Yea sure of course

In VIM, if you delete characters, it inherently also copies them for ease of pasting later on.

So if you select a lot of characters and press d to delete, it will also do a copy and call this library. The user is most likely going to see this when deleting, however it is not unreasonable to say they could just as easily want to copy the whole chunk and paste it elsewhere.

Als

[2017-06-08 16:02] sindresorhus commented on #24
This will be fixed soon. We just need to iron out the last issue with the updated Windows binary.

[2017-06-09 21:43] #22 closed

[2017-06-10 07:16] #17 closed

[2017-06-10 07:16] floatdrop commented on #17
Fixed in #23

[2017-06-10 07:19] floatdrop commented on #24
Fixed in #19

[2017-06-10 07:19] #24 closed

[2017-06-10 07:23] floatdrop opened #25 "Some unicode characters are broken"
On Windows some unicode characters are broken while copy-pasted:

<img width="539" alt="screen shot 2017-06-10 at 12 21 18" src="https://user-images.githubusercontent.com/365089/27000971-659b6a18-4dd7-11e7-8595-57f957dc785c.png">

It could be bug in [win-clipboard](https://github.com/sindresorhus/win-clipboard) – but there is [test](https://github.com/sindresorhus/win-clipboard/blob/master/test.ba

[2017-06-10 19:09] xconverge commented on #24
Awesome! Thanks guys, will be patiently waiting for the release now :) Appreciate it!

[2017-06-19 06:47] DavidAnson commented on #25
I don't have a proper development environment available, but have looked at the code and played around with `copy.exe` pasting into `notepad.exe`.

I think there is a bug in `win-clipboard`'s `copy.c` where `hgMem` points to `wchar` data, but is NULL-terminated with a `char`. This violates the `CF_UNICODETEXT` specification: https://msdn.microsoft.com/en-us/library/windows/desktop/ff729168(v=vs.85

[2017-06-20 04:53] #25 closed

[2017-06-20 04:53] floatdrop commented on #25
@DavidAnson thanks for pointing this out! 🎉

[2017-06-20 04:59] floatdrop commented on #24
@xconverge shipped in `1.1.3` 🎉

[2017-06-20 22:36] xconverge commented on #24
@floatdrop @sindresorhus Thanks guys!

[2017-06-28 17:20] bjc5233 opened #27 "EOL problem"
![clip](https://user-images.githubusercontent.com/1620471/27649295-e6e8eb1e-5c63-11e7-9f69-b63841a4a899.png)

I'm use this moudle in win10, it work nice,
but when use paste, i get 【\r\r\n】, actually i want 【\r\n】;
it show right in terminal, but in file it will bing too many blank lines.

I have checked #17
I didnot use copy.exe, I copy words manual

[2017-07-03 18:28] Jamunadevi-Vijayan opened #28 "Module not found: Error: Can't resolve 'child_process' in 'C:\QFL-Latest\node_mo dules\clipboardy\node_modules\execa'"
Module not found: Error: Can't resolve 'child_process' in 'C:\QFL-Latest\node_mo
dules\clipboardy\node_modules\execa'

[2017-07-03 18:40] kevva commented on #28
How are you running this? `child_process` is a built in module in Node.js.

[2017-07-03 18:55] Jamunadevi-Vijayan commented on #28
I am using angular cli project. I am giving "npm install clipboardy --save", then in my angular-cli.json inside scripts tag i am including clipboardy/index as
"scripts": [
              "../node_modules/jquery/dist/jquery.min.js",
              "../node_modules/tether/dist/js/tether.min.js",
              "../node_modules/bootstrap/dist/js/bootstrap.min.js",
              "../node_modules/lodash/l

[2017-07-03 19:00] sindresorhus commented on #28
Use Stack Overflow for support questions.

[2017-07-03 19:00] #28 closed

[2017-07-03 19:20] kevva commented on #28
Yeah, you can't use `child_process` in the browser.

[2017-07-07 15:47] floatdrop commented on #27
Maybe Node.JS coerce `\n` to system EOL, which on Windows is `\r\n`. Care to add failing test case?

[2017-07-11 19:25] piotryordanov opened #29 "Return more than one item?"
I know that `pbpaste` returns the last item copied to clipboard. Is there however a way to return a bigger list of items, say the last 100?

[2017-07-11 19:44] sindresorhus commented on #29
No, you would have to launch a daemon that watches the clipboard. Out of scope for this module.

[2017-07-11 19:44] #29 closed

[2017-07-11 19:46] piotryordanov commented on #29
Understood. Thanks!
Do you happen to know a cli module that watches the clipboard?

[2017-07-11 20:14] sindresorhus commented on #29
https://npms.io/search?q=clipboard+watch

[2017-07-19 06:53] ponmudivn opened #30 "Does not work with Windows (32-bit)"
Cannot use the module in windows 32 bit device.
[code]

Running above code throws following error

[code]

Then on checking the ' clipboardy \ fallbacks \ windows \ copy.exe' it seems that it supports only 64 bit.

` clipboardy \ fallbacks \ windows \ copy.exe is not compatible with running Windows version. Check the system information of the computer and check whether the version of x86 (32 bit)

[2017-08-01 07:22] Jamunadevi-Vijayan opened #31 "Error when installing clipboardy"
When giving "npm install --save clipboardy" getting below error,
**_.
.
.
406 warn optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
407 warn notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.2: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
408 verbose notsup SKIPPING OPTIONAL DEPENDENCY: Vali

[2017-08-01 10:48] sindresorhus commented on #31
Use the npm issue tracker for npm install issues.

[2017-08-01 10:48] #31 closed

[2017-08-17 11:02] floatdrop commented on #30
@ponmudivn yeah, we built binaries only for x64 platform – https://github.com/sindresorhus/win-clipboard/blob/master/appveyor.yml#L3

[2017-10-07 21:52] Mnrikard commented on #30
I've forked this with the copy/paste exe's for windows written in .NET for AnyCPU.  It works for me, but what's the consensus on a managed/intermediate language app instead of a natively compiled app?  I haven't issued a PR yet because I don't know if this is what you want.  It also fixes the \r\r\n problem from #27

[2017-10-08 06:33] floatdrop commented on #30
@Mnrikard one of the goals of natively compiled binaries is to be as fast as possible, because there are a lot of use cases for copy-pasting large amount of data (around megabytes) in code editors. It should work fast. Some time ago we just used power-shell script, that worked on any windows, but suffer from poor performance.

Can you tell, how you fix `\r\r\n` or make a PR in to [win-clipboard](h

[2017-10-18 00:43] Mnrikard commented on #30
fixing the \r\r\n issue was fixed just by using .NET's System.Windows.Clipboard  I just wrote the string to it.  I took a look at the win-clipboard, it's not obvious where the problem is coming from in there.  I'll try to take a look later.  Also, yes, after having the .NET copy/paste for about a week, I got tired of the slowness and moved back to the natively compiled ones.

[2017-11-09 18:13] #30 closed

[2017-11-09 19:25] floatdrop commented on #27
Moving to rust fixed this problem:

![virtualbox_msedge - win10_10_11_2017_00_23_48](https://user-images.githubusercontent.com/365089/32625242-8c69e1ee-c5ad-11e7-8202-493af108f542.png)

But introduced dependency on `VCRUNTIME140.dll` which can be installed with https://www.microsoft.com/en-us/download/details.aspx?id=52685

[2017-11-09 19:25] #27 closed

[2017-11-09 21:11] ianpgall commented on #30
FYI - I don't think the PR detects the OS arch correctly. It uses `process.arch` (acts the same as `os.arch()`), which unfortunately detects the current process's arch. That means if you have a 64-bit OS, and 32-bit Node.js installed, it will report as 32-bit. The 32-bit EXE still works for me on the 64-bit OS, I just didn't know how important it was for a 64-bit OS to use the 64-bit EXE (it's pro

[2017-11-10 05:48] floatdrop commented on #30
@ianpgall True. Can you make a PR with fix?

[2017-11-11 00:30] ianpgall commented on #30
@floatdrop Sure thing! I just wanted to post here first to make sure what I was claiming wasn't crazy

[2018-03-12 07:36] goessner opened #36 "Issues with Ubuntu ... ?"
When using clipboardy with

     Operating system: _Ubuntu 16.04 LTS_
       VSCode version: _ 1.20.1_
     Markdown+Math version: 2.1.0

by code ...
[code]
... it says 'Html copying to clipboard failed!', whereas with all other operating systems it seems to work well. See ...

https://github.com/goessner/mdmath/issues/44
https://github.com/goessner/mdmath/issues/36

Is it simply so, that Ubuntu i

[2018-03-17 06:26] LCAR979 commented on #36
@goessner It turns out that you must install dependency to make mdmath work. Please see [this pull request](https://github.com/sindresorhus/clipboard-cli/pull/2/commits/ed1ac99f1bb66bda88263d0b57eb34d300807c35) and [the related issue](https://github.com/sindresorhus/clipboard-cli/issues/1)

[2018-03-18 07:00] floatdrop commented on #36
Clipboardy ships with precompiled binary for Linux - so you do not need ‘xsel’ installed.

@goessner can you post full error message from clipboardy?

[2018-03-19 10:57] goessner commented on #36
Thanks for having solved this issue.
@floatdrop: What does ' ... ships with precompiled binary for Linux ... ' mean?
In `mdmath`'s `package.json` is clipboardy listed with all its dependencies. So do I need to loist 'xsel' here explicitely somehow?

How do you want me to post the full error message ... as a simple link ?

[2018-03-19 11:05] floatdrop commented on #36
We literally ship xsel inside npm package – https://github.com/sindresorhus/clipboardy/blob/master/fallbacks/linux/xsel

Something like this should do the trick:

[code]

[2018-03-19 12:35] goessner commented on #36
.. it works now ..

https://github.com/sindresorhus/clipboardy/issues/36

thanks

[2018-03-19 12:35] #36 closed

[2018-03-25 04:25] venikman commented on #4
😢 Could you give an advice what to do if I want to copy an array?

[2018-03-28 16:16] floatdrop commented on #4
@venikman you can copy result of `JSON.stringify`, if this is suitable for you.

[2018-06-15 18:21] rektide opened #37 "Support primary/secondary/clipboard on X (Linux)"
X window has three different selection buffers- a primary, a secondary, and a clipboard. It'd be great to be able to use this library to access any.

Atm I'm still using the unpublished https://github.com/rawiroaisen/node-xsel because of this.

[2018-06-15 18:28] rektide opened #38 "Wayland support"
[Wayland](https://wayland.freedesktop.org/) is a new display manager that's about to ship as a default option in the upcoming Red Hat 8, and will be seeing increasing adoption on additional distros as well.

Best resource I've found with resources for talking to the Wayland clipboard is [this stackoverflow](https://stackoverflow.com/questions/39616066/wayland-clipboard-api).

(Alas at the current

[2018-06-15 19:05] sindresorhus commented on #37
This module is intentionally simple. There are other ways to set the clipboard on macOS too. And we could support lots of other types. But I prefer to just do the minimum here, do it well, and consistently across platforms. So I'm gonna decline this.

[2018-06-15 19:05] #37 closed

[2018-06-29 14:21] LitoMore opened #40 "Get image from system clipboard"
Is there any way to retrieve the image from system clipboard?

It seems the `pbpaste` not support read the image from clipboard.

[2018-06-29 14:32] sindresorhus commented on #40
No, that's outside the scope of this module. Would be too complex to do it consistently cross-platform and that's not something I want to maintain.

Related https://github.com/sindresorhus/clipboardy/issues/4 https://github.com/sindresorhus/clipboardy/issues/37

[2018-06-29 14:32] #40 closed

[2018-08-07 11:19] timiles opened #42 ""Command failed" on paste"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Rewarded-%237E24E3.svg" />](https://oss.issuehunt.io/r/sindresorhus/clipboardy/issues/42)

I'm using the Clipboard Ring extension (https://github.com/SrTobi/code-clip-ring) in VS Code, which has a dependency on clipboardy ^1.2.3.

I occasionally get the following error, preventing me from pasting the content of my cli

[2018-08-23 14:17] floatdrop commented on #42
I thinks this bug is in upstream module -
https://github.com/sindresorhus/win-clipboard/issues/16

[2018-08-27 13:15] DakshMiglani opened #43 "Doesn't work with Terminator (Ubuntu)"
While it does with the default gnome terminal, it doesn't work with Terminator.

![image](https://user-images.githubusercontent.com/23355449/44661797-6cc48680-aa29-11e8-8eb8-bba572a5921c.png)

[2018-08-27 15:40] DakshMiglani commented on #43
nvm, i had to post this on terminal link repository xDDD

[2018-08-27 15:40] #43 closed

[2018-09-25 17:26] LinkTree3 opened #44 "Windows clipboard copying doesn't work when using pkg to create a snapshot"
I'm on windows 10 and node 8.10.0
Here's the error I am getting when I create a binary snapshot using pkg(https://www.npmjs.com/package/pkg):

{ Error: write EPIPE
    at _errnoException (util.js:1024:11)
    at Socket._writeGeneric (net.js:767:25)
    at Socket._write (net.js:786:8)
    at doWrite (_stream_writable.js:387:12)
    at writeOrBuffer (_stream_writable.js:373:5)
    at Socket.Writable

[2018-09-25 17:45] sindresorhus commented on #44
This should be reported at https://github.com/zeit/pkg/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc It's up to `pkg` to support Node.js packages, not the other way around.

[2018-09-25 17:45] #44 closed

[2018-10-15 14:13] bazzargh commented on #38
Was wondering about how to do this in wayland too, found this https://github.com/bugaevc/wl-clipboard ... seems very new so ymmv

[2018-10-24 14:07] hediet opened #45 "Watch mode"
Can you add support for watching the clipboard (without polling)?
Like https://github.com/hxfdarling/clipboard-watch does, but without requiring `node-ffi`.

[2018-10-24 16:03] sindresorhus commented on #45
The only way to do it without polling and without `node-ffi` is with a native Node.js addon, which is probably why you don't want `node-ffi` in the first-place. It's also outside the scope of this package, unfortunately.

[2018-10-24 16:03] #45 closed

[2018-11-01 04:20] yeikel commented on #42
A good way to reproduce this is to try doing an operation multiple times. Example : copy

[2018-11-15 14:49] Simplonium opened #46 "Clipboardy should .toString() the value on copy first"
When copying a value, it fails when it's a number type. I suggest using .toString() to add number support. I could make a pull request if this would be accepted.

[2018-11-17 18:59] sindresorhus commented on #46
No, the accepted type is a string. It's up to you to convert it to such type.

[2018-11-17 18:59] #46 closed

[2018-11-29 12:16] inevity commented on #40
This limit should be mentioned in the readme.

[2019-03-22 22:40] gazugafan opened #48 "Can't Write to Clipboard (Possibly Linux-related)"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/clipboardy/issues/48/badge.svg" />](https://issuehunt.io/r/sindresorhus/clipboardy/issues/48)

I've gotten a couple bug reports on my VS Code extension that uses Clipboardy. It seems that there's sometimes a problem calling clipboardy.write(). I haven't been able to reproduce it myself, but both users are running Linux. One in p

[2019-03-22 22:41] gazugafan commented on #48
Original bug report in my extension, just for context...
https://github.com/gazugafan/vscode-indent-on-paste/issues/3

[2019-03-24 03:35] gazugafan commented on #48
The other bug reporter mentioned that his OS is Linux x64 4.20.6 (Gentoo).

[2019-04-09 05:15] sindresorhus commented on #48
Seems to be some problem with reading the `stdout` stream. Possibly an Electron issue or difference with Node.js. Hard to say for sure without the ability to reproduce it.

[2019-04-09 21:33] gazugafan commented on #48
@jdall @Sembiance can you offer any more info to help reproduce the issue?

[2019-04-10 06:24] jdall commented on #48
Sure, @gazugafan - if you can tell me what you need, and how to produce it. You know your plugin, and the ecosystem it is installed in. I'm a mere user, knowing nothing about either.
These days, it's so easy to run OS's virtualised. May I suggest that you install VirtualBox and deploy Gentoo or SolydX 9 (the latter is probably the easiest to get started with for a Windows user).
I would be glad to

[2019-04-10 23:27] gazugafan commented on #48
@sindresorhus any chance you can try (or already did try) reproducing this on Gentoo or SolydX? I can certainly try myself, but even if I'm successful I'm not sure what else I could do besides give you the same error log. Do you think we should report this issue somewhere else?

[2019-05-06 12:42] stroncium commented on #48
@gazugafan When https://github.com/sindresorhus/clipboardy/pull/50 and https://github.com/sindresorhus/execa/pull/212get released, it will allow you to see the root error.
Until it didn't happen: either you changed permissions on fallback binary `fallbacks/linux/xsel` or vscode did it for you. If it is the former, fix your distribution to have execution permission on this binary. If it is the latt

[2019-05-10 05:32] stroncium commented on #48
@gazugafan BTW, if it is a problem vscode introduces, not your packaging, please tell us, it might make sense to introduce handling of such condition right in library, as it should only require a couple of code lines.

[2019-05-13 12:53] AnakinPt opened #51 "Error using clipboardy"
I have added clipboardy 2.0.0 as a dependency of my node project. in one of my TS scripts I added clipboardy.writeSync(val); and when I start the application I get these errors:
`ERROR in ./node_modules/clipboardy/node_modules/cross-spawn/index.js
Module not found: Error: Can't resolve 'child_process' in 'C:\repositories\ui\ui\node_modules\clipboardy\node_modules\cross-spawn'
ERROR in ./node_modul

[2019-05-13 15:06] AnakinPt commented on #51
I can't use clipboardy for this situation and I must use the copy-text-to-clipboard

[2019-05-13 15:06] #51 closed

[2019-05-23 00:40] gazugafan commented on #48
Thanks @stroncium !! Yeah you were definitely on the right track. I was packaging the extension on Windows, so your question about executable permissions on the xsel binary made me raise an eyebrow. Turns out, packaging under Windows would remove any executable permissions. I just had to package the extension under Linux to make sure the execute permission sticks. I think that's going to solve it

[2019-05-23 00:42] gazugafan commented on #48
I've just released a new version which I think is going to solve this for the users that originally reported the problem. As soon as I hear back from them, I'm pretty sure I'll be closing this.

[2019-05-23 19:47] gazugafan commented on #48
We're good. Thanks again!

[2019-05-23 19:47] #48 closed

[2019-05-25 15:29] x11x opened #53 "Does not work when installed by npm on WSL"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2436%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/clipboardy/issues/53)

In WSL, you can use native windows executables and native linux executables side by side in the same shell. When you install linux node/npm and install clipboardy, it doesn't work as it thinks its on Linux and tries to use xsel, but t

[2019-07-25 07:19] perezLamed opened #55 "Error: Both xsel and fallback failed on travis"
Since yesterday clipboardy started to fail on linux travis tests.

See https://github.com/perezLamed/lamed_io
And https://travis-ci.org/perezLamed/lamed_io/builds/563423693

[2019-07-26 11:28] #55 closed

[2019-08-18 11:20] mvtcode opened #57 "Not working in raspberry pi3"
When I using this module in raspberry pi3, has exception:

[2019-08-24 00:59] lorensr commented on #28
Use this module instead:

https://github.com/sindresorhus/copy-text-to-clipboard

[2019-11-06 16:12] Darker opened #58 "Where do the binaries come from?"
This module contains .exe files without providing source. That's somewhat weird in an open source module, isn't it?

[2019-11-08 19:19] #58 closed

[2019-11-29 13:57] sinedied commented on #57
Same on ubuntu

[2019-12-05 08:56] tahsinature commented on #57
please fix this problem
my machine: `#109-Ubuntu SMP Fri Nov 8 09:30:18 UTC 2019`

![download](https://user-images.githubusercontent.com/41298152/70219503-8483d200-1777-11ea-9568-2e4fb6c535ff.png)

[2020-01-21 17:13] rfgamaral commented on #53
Are you sure about this? I just did some debugging on my WSL 1 instance (I don't have WSL2 for testing) and it works fine with a simple change:

**1)** Initialize a project like this:

[code]

**2)** Add an `index.js` file with:

[code]

**3)** Change `linux` in `node_modules/clipboardy/index.js` line 20 to `windows` (this is just for testing purposes, not production code).

**4)** Execute in your

[2020-01-27 12:58] mifi commented on #57
what happens if you `apt-get install xsel`?

[2020-01-27 14:30] sinedied commented on #57
@mifi tried to do that on Travis CI ubuntu image before running my tests, but it did not help.

[2020-01-30 15:46] boynet commented on #4
if anyone found a way to do it using node tag me pls

[2020-02-12 09:11] #53 closed

[2020-03-12 05:57] Richienb opened #60 "Browser support?"
We can use `document.execCommand` or the Async Clipboard API to create a 1:1 implementation for browsers.

See: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard

cc @sindresorhus

[2020-03-12 08:54] sindresorhus commented on #60
Sure, but only the async APIs can be supported. It should use the Async Clipboard API. Not interested in any fallback for older browsers.

See https://nodejs.org/api/esm.html#esm_conditional_exports on how to add the browser version.

[2020-03-12 08:56] Richienb commented on #60
@sindresorhus In that case, how do we handle calls to writeSync and readSync when running in the browser if we want a 1:1 interface?

[2020-03-12 08:58] sindresorhus commented on #60
We would just document that those don't work in the browser.

[2020-03-12 09:17] Richienb commented on #60
@sindresorhus The latest version of browserify can't seem to recognise the browser field. Do you have an example in another one of your packages?

[2020-03-19 03:51] #60 closed

[2020-04-15 19:05] ralsei commented on #38
So, stressing the fact that I'm *NOT* a JS dev by any means, I tried my hands at this: the results can be found in the `wayland` branch of my fork https://github.com/ralsei/clipboardy/tree/wayland. This probably broke X support as well due to a couple of hacks I did.

The aforementioned `wl-clipboard` is now relatively mature and ready for usage. The problem is that `wl-copy`, the Wayland equivale

[2020-04-29 07:46] iuriigrynykha opened #63 "Couldn't find the `xsel` binary and fallback didn't work. On Debian/Ubuntu you can install xsel with: sudo apt install xsel"
I've encountered such an issue upon running the tests in Jenkins on a remote Linux machine.

After sudo apt install xsel the following error message is displayed

"Both xsel and fallback failed".

Can you help me to solve this issue, please?

[2020-04-29 19:52] Tymski opened #64 "Doesn't work with an image in the clipboard"
![image](https://user-images.githubusercontent.com/8183632/80640427-a9991a00-8a63-11ea-84cc-b529ac7012e6.png)

[2020-04-30 03:14] sindresorhus commented on #64
This needs to be fixed here: https://github.com/sindresorhus/win-clipboard, or more likely the dependency used there: https://github.com/DoumanAsh/clipboard-win

[2020-05-21 03:54] manibharathytu opened #65 "Can't open display: (null) : Inappropriate ioctl for device"
This happens only when I run my application as linux service. Executing my node app normally by "node main.js" works good.

Full Error :
`/home/mani/Desktop/mani/tools/screenshot-easy/node_modules/clipboardy/lib/linux.js:43
			throw makeError(xselError, fallbackError);
			^

Error: Both xsel and fallback failed
    at makeError (/home/mani/Desktop/mani/tools/screenshot-easy/node_modules/clipboardy

[2020-05-21 04:22] sindresorhus commented on #65
Some possible workarounds:

https://unix.stackexchange.com/questions/566081/xsel-cant-open-display-null

https://stackoverflow.com/questions/18695934/unable-to-copy-ssh-id-rsa-pub

Would be nice if we could handle this case in Clipboardy. If not, we should at least improve the error message.

[2020-06-23 14:40] Jack89ita opened #66 "Error on Ubuntu"
Hello!
I created VSCode extension with the use of Clipboardy; On windows everything is fine, but when i try to run the command on Ubuntu 18 i got the following error:
[code]

This is my extension: [link](https://github.com/Jack89ita/vscode-copy-filename)

How can i solve the problem?
Thanks!

[2020-07-30 11:12] tom-james-watson commented on #63
If you manage to log the underling error you'll likely see something like the following:

[code]

It looks like the library doesn't work in a headless environment.

I'm not sure about Jenkins, but on GitHub Actions you can use this action - https://github.com/marketplace/actions/gabrielbb-xvfb-action - to provide a virtual display whilst running the tests.

[2020-08-18 00:25] ajoslin103 opened #67 "clipboardy threw: Document is not focused"
clipboardy threw: Document is not focused

what does this mean -- I am executing in a dialog...

what should I do?

[2020-08-18 00:43] ajoslin103 commented on #67
false alarm?  -- I think it threw because I was in the Inspector...

[2020-08-18 00:43] #67 closed

[2020-08-19 15:07] tom-james-watson commented on #63
You can also use `xvfb-run` from the `xvfb` package. e.g. on circleci:

[code]

[2020-10-21 11:55] theimo1221 opened #68 "Error 1418 always on first try"
Thanks for your work!

Unfortunately using the writeSync Method always fails for me on first try with "Error 1418" while retrying it immediately afterwards works....
But before returning the error it waits for 5 Seconds thus resulting in a delay.

Thanks and best regards

Thiemo

[2020-12-15 04:34] sample-text-here opened #70 "Support for images/non text clipboard?"
Right now when you read the clipboard, clipboardy errors if the clipboard doesn't have text.

Being able to copy other stuff from the clipboard (like: returning a buffer when the clipboard isn't text) would be an amazing feature to have.

[2020-12-15 04:35] sample-text-here commented on #70
oops #40

[2020-12-15 04:35] #70 closed

[2020-12-19 01:22] snuckdev opened #71 "Add events"
Could you guys add events like clipboardy.on('paste')?
So it triggers a callback with the data pasted

[2020-12-19 08:17] sindresorhus commented on #71
I don't know about Windows or Linux, but on macOS, the only way to get pasteboard events is polling, which is inefficient.

Why do you need a paste event for a Node.js module? The only use-case I can think of is some kind of interactive CLI tool.

[2020-12-19 16:18] snuckdev commented on #71
Fixed that with while loops, thanks.

[2020-12-19 16:18] #71 closed

[2021-03-09 23:41] esatterwhite commented on #63
I just ran into this problem as well on jenkins. Not sure if it is a jenkins specific thing as this build run in docker containers.

However, it works find on Node 12 and 14. But fails with this error on node 15

[2021-06-07 08:04] zhfnjust opened #73 "clipboard_x86_64.exe access denied"
![image](https://user-images.githubusercontent.com/995909/120981202-ffcda600-c7a9-11eb-8067-290e0cc3d87b.png)

[2021-06-07 08:51] zhfnjust commented on #42
same issue

     Error: Command failed: C:\Users\myland\code\ide2\node_modules\clipboardy\fallbacks\windows\clipboard_x86_64.exe --paste
thread 'main' panicked at 'Error: Could not paste from clipboard: Error { repr: Os { code: 5, message: "拒绝访问。" } }', src\libcore\result.rs:906:4
note: Run with `RUST_BACKTRACE=1` for a backtrace.

[2021-06-11 08:36] github0013 commented on #65
I encountered the same issue as I was trying to setup [semantic-release-cli][1] (running `npx semantic-release-cli setup`, you probably are running a different command though).

## Environment

Mac => ssh => ubuntu (headless)

### My server (headless)

[code]

### I am using a mac to control the server.

[code]

## Things I tried (didn't work)

1. install `xsel` on the ubuntu like it told me
2. go

[2021-06-11 08:37] github0013 commented on #63
I solved this like this https://github.com/sindresorhus/clipboardy/issues/65

[2021-06-29 15:53] ffxsam opened #74 "Doesn't work on Safari 12 - TypeError: undefined is not an object (evaluating 'navigator.clipboard.writeText')"
Apparently this library relies on `navigator.clipboard` which doesn't exist in Safari 12.

[2021-06-29 17:28] sindresorhus commented on #74
This is already documented in the readme.

[2021-06-29 17:28] #74 closed

[2021-06-29 17:32] ffxsam commented on #74
So, how is this library different from me just calling `navigator.clipboard.writeText` directly? I'd think this library could offer an added benefit by having a fallback for older browsers:

[code]

[2021-07-05 11:46] eng-dibo opened #75 "Couldn't find the `xsel` binary and fallback didn't work."
I run `npx semantic-release-cli setup`, and I provided these configs
[code]
but the following error occurred
OS: Debian GNU/Linux 10 (buster)
[code]

[2021-07-05 11:48] eng-dibo commented on #75
closin issue for trying to install xsel with `sudo apt install xsel`

[2021-07-05 11:48] #75 closed

[2021-09-01 12:39] kimlimjustin opened #76 "Uncaught Error: spawnSync clipboard_x86_64,exe ENOENT on Windows"
Clipboardy works well on Linux and on Windows while developing. However, when I tried to build my [app (it's electron app)](https://github.com/kimlimjustin/xplorer), it raises an error:
![image](https://user-images.githubusercontent.com/61906684/131672504-66a3d673-fec9-497a-8b46-da31fdfc97d0.png)

[2021-09-01 12:43] kimlimjustin commented on #76
I think this is because the code runs the exe code on Windows, I think this should be fixed by using node js addon API to call C/C++ code natively from javascript instead of running exe file.

[2021-09-01 13:28] sindresorhus commented on #76
This is a problem with Electron: https://github.com/electron/electron/issues/9459

Electron also has their own clipboard methods, so you don't really need this package there.

[2021-09-01 13:28] #76 closed

[2021-10-17 15:46] alexn-s opened #77 "Error [ERR_REQUIRE_ESM]: Must use import to load ES Module"
## Description
On version 3.0.0 clipboardy crashes with following message:

[code]

Version 2.3.0 works fine. The code in the linked repo uses regular ts import syntax.

## Replicate
Just clone the linked repo, install libs (used yarn) and run the typescript file with ts-node

## Link
https://github.com/alexn-s/clipboardy-issue

[2021-10-17 17:58] sindresorhus commented on #77
Please read the release notes.

I would wait upgrading until TS 4.5 I'd put as it has better ESM support.

[2021-10-17 17:58] #77 closed

[2021-10-19 12:41] alexn-s commented on #77
my bad, sorry. thanks for the info and the awesome library.

[2021-10-25 04:46] kishorekumaru opened #78 "Module not found: Error: Can't resolve 'node:process' in 'node_modules/clipboardy'"
Hi I have a app + cypress in a same package, I have installed clipboardy on my dev dependency to support cypress test cases, but with the recent 3.0.0 ESM migration, I am unable to run the Cypress because clipboardy throws the following error on runtime

[code]

The Cypress works when I revert back Clipboardy to 2.3.0
Is there any way to fix the above issue with the latest version?

[2021-10-25 05:36] #78 closed, assigned to nobody

[2021-10-27 05:49] ProgramTheApe opened #79 "UncaughtSyntaxError: Unexpected token import"
Error info:
[code]
package.json

[code]

vue file:
[code]

[2021-10-27 06:10] #79 closed, assigned to nobody

[2021-10-28 17:19] ianengelbrecht opened #80 "Loading with --experimental-modules"
If I include `import clipboard from 'clipboardy'` in a script and then run that script with node --experimental-modules script.js, I get Error [ERR_UNSUPPORTED_ESM_URL_SCHEME]: Only file and data URLs are supported by the default ESM loader. This is with Node 12. package.json includes "type": "module"

[2021-10-28 18:18] #80 closed, assigned to nobody

[2021-11-01 11:37] Ajharul7 opened #81 "Doesn't works when I launch my app to Heroku"
This is the error i get :
Couldn't find the xsel binary and fallback didn't work. On Debian/Ubuntu you can install xsel with: sudo apt install xsel

**I made a discord bot and am trying to launch it in Heroku but the clipboardy does not seems to function . I used Windows 10,Node 14.18.3 and Clipboardy 2.3.0**

[2021-11-01 11:53] sindresorhus commented on #81
The error message says it all. I don't really know what else I can add to that.

[2021-11-01 11:53] #81 closed

[2021-11-02 11:29] Ajharul7 commented on #81
Could you provide a solution for it? Is there a way around it?

[2021-11-10 02:53] anming-john opened #82 "clipboardy do not support require ?"
const clipboardy = require('clipboardy')

it is  not working！

[2021-11-10 05:26] sindresorhus commented on #82
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2021-11-10 05:26] #82 closed

[2022-02-01 18:56] Harshita-mindfire opened #83 "Error [ERR_REQUIRE_ESM]: require() of ES Module E:\~\node_modules\clipboardy\index.js not supported."
I'm working on a typescript project and receiving error from clipboardy
[code]

my code:
[code]

[2022-02-01 19:09] Harshita-mindfire commented on #83
duplicate

[2022-02-06 15:59] Kle0s opened #84 "Cannot load module in JEST"
having the import line `import clipboard from "clipboardy";` in a test file (that I run with jest) causes the following error to be thrown:
[code]

[2022-02-06 16:21] sindresorhus commented on #84
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2022-02-06 16:21] #84 closed

[2022-02-16 16:21] achan-godaddy opened #85 "windows wsl2 is slow with windows fallback binaries"
Not sure what has changed but unfortunately the binaries from [win-clipboard](https://github.com/sindresorhus/win-clipboard) are slower now, taking more than a few seconds where in the past it was much faster.

Perhaps we can use the `os.release` >= '5.10.60.1-microsoft-standard-WSL2' or just `wsl2` to know when to use alternative binaries.

The equivalent to the mac utils `pbpaste` in wsl/windows

[2022-03-09 16:23] wimurk opened #86 "Doesn't work with typescript"
I use the framework AdonisJS which is build in typescript.
When i try to include the package it gives me the following error:

[code]

[2022-03-09 16:30] sindresorhus commented on #86
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2022-03-09 16:30] #86 closed

[2022-03-09 18:11] wimurk commented on #86
How is this closed? It doesn't work. THe link is outdated. i use the `es2022`

 I tried all the options below
[code]

[2022-03-09 18:45] wimurk commented on #86
I downgraded back to 2.3.0 and now it works.

[2022-03-29 02:58] kadistudio opened #87 "Having this error when run in Discord.JS Bot"
C:\Users\Kadi\Documents\GitHub\Discord-Bot\Commands\Paimon Menu\namecard.js:13
const clipboard = require("clipboardy");
                  ^

Error [ERR_REQUIRE_ESM]: require() of ES Module C:\Users\Kadi\Documents\GitHub\Discord-Bot\node_modules\clipboardy\index.js from C:\Users\Kadi\Documents\GitHub\Discord-Bot\Commands\Paimon Menu\namecard.js not supported.
Instead change the require of index.js

[2022-03-29 05:03] sindresorhus commented on #87
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2022-03-29 05:03] #87 closed

[2022-03-29 10:41] kadistudio commented on #63
error = new Error('Couldn\'t find the `xsel` binary and fallback didn\'t work. On Debian/Ubuntu you can install xsel with: sudo apt install xsel');

I also encounter this error when i try to host my Discord Bot using Heroku, when using my own terminal `node .` everything is fine. btw im using 2.3.0 version because the 3.0.0 gives me error

[2022-03-30 02:09] kadistudio commented on #81
is this issue fixed?

[2022-04-02 12:36] kadistudio opened #88 "i tried running clipboard thru heroku and this is the error i encounter"
I have installed the xsel thru npm i xsel in my terminal before pushing it to github

error = new Error('Couldn\'t find the `xsel` binary and fallback didn\'t work. On Debian/Ubuntu you can install xsel with: sudo apt install xsel');

Error: Couldn't find the `xsel` binary and fallback didn't work. On Debian/Ubuntu you can install xsel with: sudo apt install xsel
at makeError (/app/node_modules/cl

[2022-04-02 14:03] sindresorhus commented on #88
I'm not sure why you're using this in Heroku, but you need to install in `xsel` in Heroku, not on your system to fix that error.

[2022-04-02 14:03] #88 closed

[2022-04-15 05:32] Richienb opened #89 "Powershell on Windows"
[Since Windows 7, Powershell has been pre-installed](https://docs.microsoft.com/en-us/previous-versions/appfabric/ff637750(v=azure.10)) and contains [`Get-Clipboard`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/get-clipboard?view=powershell-7.2) and [`Set-Clipboard`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/set-clipbo

[2022-04-15 15:13] sindresorhus commented on #89
Not every system has PowerShell though. Admins can disable it. But I guess we could use this first and fall back to the custom one.

[2022-06-24 02:34] Davidalfa081 commented on #65
encountering same issue but there should be a command line for a solution to this isuue

[2022-09-11 19:29] jdthorpe commented on #83
Duplicate of what?

[2022-09-15 19:43] froyoga commented on #83
Most likely referring to [this](https://github.com/sindresorhus/clipboardy/issues/77)

[2022-10-13 02:54] MatheusMK3 commented on #77
For anyone using the latest TypeScript and having this issue, I managed to counter it by doing the following:
1. Under `tsconfig.json`, update `module` to `"Node16"`
2. On my code, import Clipboardy by using `const clipboardy = (await import("clipboardy")).default`

It's a bit of a hack, but seems to be the only way since TypeScript doesn't seem to recognize ESM correctly and tries to load them wi